{% load static %}

{% if base_template == 'base.html' %}
    {% include 'head.html' %}
    {% include 'header.html' %}
        {% if alert %}
        <div id="toastContainer">
     <div class="toast" id="myToast">

        <div class="toast-body">

            {{alert}}
        </div>
    </div>
    </div>
        {% endif %}
    <body class="base-body">
{% elif base_template == 'provider-base.html' %}
    {% include 'head.html' %}
    {% include 'header.html' %}
        {% if alert %}
        <div id="toastContainer">
     <div class="toast" id="myToast">

        <div class="toast-body">

            {{alert}}
        </div>
    </div>
    </div>
        {% endif %}
{% endif %}
 <div class="breadcrumb-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <h2 class="breadcrumb-title">Create Service</h2>
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Create Service</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mx-auto">

                            <div class="service-wizard">
                                <ul id="progressbar">
                                    <li class="active">
                                        <div class="multi-step-icon span-info">
                                            <span><i class="fa-regular fa-circle-check"></i></span>
                                        </div>
                                        <div class="multi-step-info">
                                            <h6>Information</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multi-step-icon">
                                            <span><i class="fa-regular fa-clock"></i></span>
                                        </div>
                                        <div class="multi-step-info">
                                            <h6>Availability</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multi-step-icon">
                                            <span><i class="fa-regular fa-map"></i></span>
                                        </div>
                                        <div class="multi-step-info">
                                            <h6>Location</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multi-step-icon">
                                            <span><i class="feather-image"></i></span>
                                        </div>
                                        <div class="multi-step-info">
                                            <h6>Gallery</h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="service-inform-fieldset">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <fieldset id="first-field">
                                        <div class="card add-service">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="sub-title">
                                                        <h6>Service Information</h6>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-form-label">Service Title</label>
                                                        <input type="text" id="title" name="title" class="form-control"
                                                            placeholder="Enter Service Name" value="{{initial_data.title}}">
                                                            {% if form.title.errors %}
                                                                    <div class="text-danger">
                                                                        {% for error in form.title.errors %}
                                                                            {{ error }}
                                                                        {% endfor %}
                                                                    </div>
                                                                {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-form-label">Category</label>
                                                        <select name="category" class="select">
                                                            <option>Select Category</option>
                                                            {% for cat in category %}
                                                                <option {% if cat.name == initial_data.category %} selected {% endif %}>{{ cat.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        {% if form.category.errors %}
                                                            <div class="text-danger">
                                                                {% for error in form.category.errors %}
                                                                    {{ error }}
                                                                {% endfor %}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                               
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class=from-icon> 
                                                                <label class="col-form-label d-block">Price (Per Hour) $<span
                                                                class="brief-bio float-end">Set 0$ for free</span></label>
                                                            <input type="number" name="price" class="form-control" min="0.0" step="1.10" value="{{ initial_data.price }}">
                                                            {% if form.price.errors %}
                                                                <div class="text-danger">
                                                                    {% for error in form.price.errors %}
                                                                        {{ error }}
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-12">
                                                    <div class="form-group mb-0">
                                                        <label class="col-form-label">Description</label>
                                                        <textarea class="form-control ck-editor" name="description">{{ initial_data.description }}</textarea>
                                                        {% if form.description.errors %}
                                                                <div class="text-danger">
                                                                    {% for error in form.description.errors %}
                                                                        {{ error }}
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        <div class="card add-service">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="sub-title">
                                                        <h6>Availability</h6>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="timeslot-sec availablt-time-slots">
                                                        <label class="col-form-label">Configure Time Slots</label>
                                                        <div class="tab-content pt-0">
                                                            
                                                            <br>
                                                            <div class="tab-pane active" id="slot_monday">
                                                                <div class="hours-info">
                                                                    <h4 class="nameof-day">Monday</h4>
                                                                    <div class="row hours-cont">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="form-icon">
                                                                                    <input type="time"
                                                                                        class="form-control"
                                                                                        name="monday_from_time" placeholder="From" oninput="validatemondayTime()" value="{{ initial_data.monday_from_time|time:'H:i' }}">
                                                                                        {% if form.monday_from_time.errors %}
                                                                                            <div class="text-danger">
                                                                                                {% for error in form.monday_from_time.errors %}
                                                                                                    {{ error }}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="form-icon">
                                                                                    <input type="time"
                                                                                        class="form-control timepicker"
                                                                                        name="monday_to_time" placeholder="To" oninput="validatemondayTime()" value="{{initial_data.monday_to_time|time:'H:i'}}">
                                                                                        {% if form.monday_to_time.errors %}
                                                                                            <div class="text-danger">
                                                                                                {% for error in form.monday_to_time.errors %}
                                                                                                    {{ error }}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="tab-pane active" id="slot_monday">
                                                                <div class="hours-info">
                                                                    <h4 class="nameof-day">Tuesday</h4>
                                                                    <div class="row hours-cont">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="form-icon">
                                                                                    <input type="time"
                                                                                        class="form-control"
                                                                                        name="tuesday_from_time" placeholder="From" oninput="validatetuesdayTime()" value="{{initial_data.tuesday_from_time|time:'H:i'}}">
                                                                                        {% if form.tuesday_from_time.errors %}
                                                                                            <div class="text-danger">
                                                                                                {% for error in form.tuesday_from_time.errors %}
                                                                                                    {{ error }}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="form-icon">
                                                                                    <input type="time"
                                                                                        class="form-control timepicker"
                                                                                        name="tuesday_to_time" placeholder="To" oninput="validatetuesdayTime()" value="{{initial_data.tuesday_to_time|time:'H:i'}}">
                                                                                        {% if form.tuesday_to_time.errors %}
                                                                                            <div class="text-danger">
                                                                                                {% for error in form.tuesday_to_time.errors %}
                                                                                                    {{ error }}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="tab-pane active" id="slot_monday">
                                                                <div class="hours-info">
                                                                    <h4 class="nameof-day">Wednesday</h4>
                                                                    <div class="row hours-cont">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="form-icon">
                                                                                    <input type="time"
                                                                                        class="form-control"
                                                                                        name="wednesday_from_time" placeholder="From" oninput="validatewedTime()" value="{{initial_data.wednesday_from_time|time:'H:i'}}">
                                                                                        {% if form.wednesday_from_time.errors %}
                                                                                            <div class="text-danger">
                                                                                                {% for error in form.wednesday_from_time.errors %}
                                                                                                    {{ error }}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="form-icon">
                                                                                    <input type="time"
                                                                                        class="form-control timepicker"
                                                                                        name="wednesday_to_time" placeholder="To" oninput="validatewedTime()" value="{{initial_data.wednesday_to_time|time:'H:i'}}">
                                                                                        {% if form.wednesday_to_time.errors %}
                                                                                            <div class="text-danger">
                                                                                                {% for error in form.wednesday_to_time.errors %}
                                                                                                    {{ error }}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="tab-pane active" id="slot_monday">
                                                                <div class="hours-info">
                                                                    <h4 class="nameof-day">Thursday</h4>
                                                                    <div class="row hours-cont">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="form-icon">
                                                                                    <input type="time"
                                                                                        class="form-control"
                                                                                        name="thursday_from_time" placeholder="From" oninput="validatethursTime()" value="{{initial_data.thursday_from_time|time:'H:i'}}">
                                                                                        {% if form.thursday_from_time.errors %}
                                                                                            <div class="text-danger">
                                                                                                {% for error in form.thursday_from_time.errors %}
                                                                                                    {{ error }}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="form-icon">
                                                                                    <input type="time"
                                                                                        class="form-control timepicker"
                                                                                        name="thursday_to_time" placeholder="To" oninput="validatethursTime()" value="{{initial_data.thursday_to_time|time:'H:i'}}">
                                                                                        {% if form.thursday_to_time.errors %}
                                                                                            <div class="text-danger">
                                                                                                {% for error in form.thursday_to_time.errors %}
                                                                                                    {{ error }}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="tab-pane active" id="slot_monday">
                                                                <div class="hours-info">
                                                                    <h4 class="nameof-day">Friday</h4>
                                                                    <div class="row hours-cont">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="form-icon">
                                                                                    <input type="time"
                                                                                        class="form-control"
                                                                                        name="friday_from_time" placeholder="From" oninput="validatefridayTime()" value="{{initial_data.friday_from_time|time:'H:i'}}">
                                                                                        {% if form.friday_from_time.errors %}
                                                                                            <div class="text-danger">
                                                                                                {% for error in form.friday_from_time.errors %}
                                                                                                    {{ error }}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="form-icon">
                                                                                    <input type="time"
                                                                                        class="form-control timepicker"
                                                                                        name="friday_to_time" placeholder="To" oninput="validatefridayTime()" value="{{initial_data.friday_to_time|time:'H:i'}}">
                                                                                        {% if form.friday_to_time.errors %}
                                                                                            <div class="text-danger">
                                                                                                {% for error in form.friday_to_time.errors %}
                                                                                                    {{ error }}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="tab-pane active" id="slot_monday">
                                                                <div class="hours-info">
                                                                    <h4 class="nameof-day">Saturday</h4>
                                                                    <div class="row hours-cont">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="form-icon">
                                                                                    <input type="time"
                                                                                        class="form-control"
                                                                                        name="saturday_from_time" placeholder="From" oninput="validatesaturTime()" value="{{initial_data.saturday_from_time|time:'H:i'}}">
                                                                                        {% if form.saturday_from_time.errors %}
                                                                                            <div class="text-danger">
                                                                                                {% for error in form.saturday_from_time.errors %}
                                                                                                    {{ error }}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="form-icon">
                                                                                    <input type="time"
                                                                                        class="form-control timepicker"
                                                                                        name="saturday_to_time" placeholder="To" oninput="validatesaturTime()" value="{{initial_data.saturday_to_time|time:'H:i'}}">
                                                                                        {% if form.saturday_to_time.errors %}
                                                                                            <div class="text-danger">
                                                                                                {% for error in form.saturday_to_time.errors %}
                                                                                                    {{ error }}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="tab-pane active" id="slot_monday">
                                                                <div class="hours-info">
                                                                    <h4 class="nameof-day">Sunday</h4>
                                                                    <div class="row hours-cont">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="form-icon">
                                                                                    <input type="time"
                                                                                        class="form-control"
                                                                                        name="sunday_from_time" placeholder="From" oninput="validatesunTime()" value="{{initial_data.sunday_from_time|time:'H:i'}}">
                                                                                        {% if form.sunday_from_time.errors %}
                                                                                            <div class="text-danger">
                                                                                                {% for error in form.sunday_from_time.errors %}
                                                                                                    {{ error }}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="form-icon">
                                                                                    <input type="time"
                                                                                        class="form-control"
                                                                                        name="sunday_to_time" placeholder="From" oninput="validatesunTime()" value="{{initial_data.sunday_to_time|time:'H:i'}}">
                                                                                        {% if form.sunday_to_time.errors %}
                                                                                            <div class="text-danger">
                                                                                                {% for error in form.sunday_to_time.errors %}
                                                                                                    {{ error }}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>                        
                                        <div class="card add-service">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="sub-title">
                                                        <h6>Location</h6>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-form-label">Address 1</label>
                                                        <input type="text" class="form-control"
                                                            name="add1" placeholder="Enter Your Address 1" value="{{initial_data.add1}}">
                                                            {% if form.add1.errors %}
                                                                <div class="text-danger">
                                                                    {% for error in form.add1.errors %}
                                                                        {{ error }}
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-form-label">Address 2</label>
                                                        <input type="text" class="form-control"
                                                            name="add2" placeholder="Enter Your Address 2" value="{{initial_data.add2}}">
                                                            {% if form.add2.errors %}
                                                                <div class="text-danger">
                                                                    {% for error in form.add2.errors %}
                                                                        {{ error }}
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-form-label">City</label>
                                                        <input type="text" class="form-control"
                                                            name="city" placeholder="Enter Your City" value="{{initial_data.city}}">
                                                            {% if form.city.errors %}
                                                                <div class="text-danger">
                                                                    {% for error in form.city.errors %}
                                                                        {{ error }}
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-form-label">Provision</label>
                                                        <input type="text" class="form-control"
                                                            name="provision" placeholder="Enter Your State" value="{{initial_data.provision}}">
                                                            {% if form.provision.errors %}
                                                                <div class="text-danger">
                                                                    {% for error in form.provision.errors %}
                                                                        {{ error }}
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-form-label">Country</label>
                                                        <input type="text" class="form-control" name="country" placeholder="Enter Country" value="{{initial_data.country}}">
                                                        {% if form.country.errors %}
                                                                <div class="text-danger">
                                                                    {% for error in form.country.errors %}
                                                                        {{ error }}
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-form-label">Pincode</label>
                                                        <input type="text" class="form-control"
                                                            name="pincode" placeholder="Enter Your Pincode" value="{{initial_data.pincode}}">
                                                            {% if form.pincode.errors %}
                                                                <div class="text-danger">
                                                                    {% for error in form.pincode.errors %}
                                                                        {{ error }}
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group mb-0">
                                                    <div class="map-grid">
                                                        <iframe
                                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6509170.989457427!2d-123.80081967108484!3d37.192957227641294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalifornia%2C%20USA!5e0!3m2!1sen!2sin!4v1669181581381!5m2!1sen!2sin"
                                                            allowfullscreen aria-hidden="false" tabindex="0"
                                                            class="contact-map"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card add-service">
                                            <div class="sub-title">
                                                <h6>Gallery</h6>
                                            </div>

                                           <img id="previewImage" src="{% if initial_data.image %}{{ initial_data.image.url }}{% endif %}" alt="Preview Image" style="max-width: 400px; max-height: 400px; {% if not initial_data.image %}display: none;{% endif %}">
                                            <div class="file-upload">

                                                <img id="imagePreview" src="{% static 'assets/img/icons/upload-icon.svg' %}" alt="image">
                                                <h6>Drag & drop files or <span>Browse</span></h6>
                                                <p>Supported only Image Formats</p>
                                                <input type="file" id="fileInput" name="image" accept="image/*" onchange="displayImage()">
                                                

                                                {% if form.image.errors %}
                                                    <div class="text-danger">
                                                        {% for error in form.image.errors %}
                                                            {{ error }}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                           
                                        </div>
                                         <div class="acc-submit">
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% include 'footer.html' %}