{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="bg-img">
            <img src="{% static 'assets/img/bg/work-bg-03.png' %}" alt="img" class="bgimg1">
            <img src="{% static 'assets/img/bg/work-bg-03.png' %}" alt="img" class="bgimg2">
        </div>

        <div class="breadcrumb-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <h2 class="breadcrumb-title">Privacy Policy</h2>
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="http://127.0.0.1:8000">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

       <div class="content">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="terms-content privacy-cont">
                    <p>We are committed to protecting your privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website. Please read this Privacy Policy carefully. If you do not agree with the terms of this Privacy Policy, please do not access the site!</p>
                    <h2>Information We Collect</h2>
                    <ul>
                        <li>Contact information such as your name, email address, and phone number.</li>
                        <li>Information you provide when you fill out forms on our Site.</li>
                        <li>Information about your usage of the Site.</li>
                    </ul>
                    <h2>How We Use Your Information</h2>
                    <p>We may use the information we collect for various purposes, including to:</p>
                    <ul>
                        <li>Provide, maintain, and improve our Site.</li>
                        <li>Communicate with you about our products, services, and promotions.</li>
                        <li>Respond to your inquiries and provide customer support.</li>
                        <li>Personalize and tailor your experience on the Site.</li>
                        <li>Analyze trends and user traffic on the Site.</li>
                    </ul>
                    <h2>Information Sharing</h2>
                    <p>We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except as described in this Privacy Policy or as required by law. We may share your information with:</p>
                    <ul>
                        <li>Service providers who assist us in operating our Site and providing our products and services.</li>
                        <li>Law enforcement agencies, government officials, or other third parties when we are compelled to do so by a subpoena, court order, or similar legal procedure.</li>
                    </ul>
                    <h2>Changes to This Privacy Policy</h2>
                    <p>We may update this Privacy Policy from time to time. Any changes will be posted on this page, with an updated effective date. We encourage you to review this Privacy Policy periodically for any changes.</p>
                    <h2>Contact Us</h2>
                    <p>If you have any questions or concerns about this Privacy Policy, please contact us at <a href="http://127.0.0.1:8000/info/contact-us">Contact Us.</a>.</p>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}