{% load static %}
<footer class="footer">
     <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">

                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="http://127.0.0.1:8000/user/user_signin">TrustedHands</a>
                                </div>
                                
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">Quick Links</h2>
                                <ul>
                                    <li>
                                        <a href="http://127.0.0.1:8000/info/about-us">About Us</a>
                                    </li>
                                    
                                    <li>
                                        <a href="http://127.0.0.1:8000/info/contact-us">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="http://127.0.0.1:8000/user/provider_signup">Become a Professional</a>
                                    </li>
                                    <li>
                                        <a href="http://127.0.0.1:8000/user/user_signup">Become a User</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6">

                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <p><span><i class="feather-map-pin"></i></span> 401 Sunset Avenue, Windsor, Ontario N9B 3P4</p>
                                    </div>
                                    <p><span><i class="feather-phone"></i></span> 519 991 4007</p>
                                    <p><span><i class="feather-mail"></i></span> rakholir@uwindsor.ca
                                    </p>
                                    <p class="mb-0"><span><i class="feather-globe"></i></span>www.ush.com</p>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
    <div class="footer-bottom">
        <div class="container">

            <div class="copyright">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="copyright-text">
                            <p class="mb-0">Copyright &copy; 2024. All Rights Reserved.</p>
                        </div>
                    </div>
                    
                    <div class="col-md-8">

                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li>
                                    <a href="http://127.0.0.1:8000/info/privacy-policy">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="http://127.0.0.1:8000/info/terms-and-conditions">Terms & Conditions</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    {% include 'scripts.html' %}
</footer>
