{% load static %}
	<script data-cfasync="false" src="{% static 'assets/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery-3.7.0.min.js' %}" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
	<script src="{% static 'assets/js/feather.min.js' %}" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
	<script src="{% static 'assets/js/owl.carousel.min.js' %}" type="text/javascript"></script>

	<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/plugins/aos/aos.js' %}" type="text/javascript"></script>
	
	<script src="{% static 'assets/js/script.js' %}" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
	<script src="{% static 'assets/cdn-cgi/scripts/rocket-loader.min.js' %}" data-cf-settings="8276d1f090056ab6049771ba-|49" defer></script>

	<script src="{% static 'assets/plugins/intltelinput/js/intlTelInput.js' %}" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
<script>
    function showToast() {
        var toast = document.getElementById('myToast');
        toast.classList.add('show');
        setTimeout(function () {
            toast.classList.remove('show');
        }, 2000);  // 5000 milliseconds = 5 seconds
    }
    function hideToast() {
        var toast = document.getElementById('myToast');
        toast.classList.remove('show');
    }

    window.onload = function () {
        showToast();
    };
    function togglePasswordVisibility() {
      var x = document.getElementById("password-field");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    function togglePassword1Visibility() {
      var x = document.getElementById("password-1");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    function togglePassword2Visibility() {
      var x = document.getElementById("password-2");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
        function validatealldaysTime() {
        var fromTimeInput = document.querySelector('input[name="all_days_from_time"]');
        var toTimeInput = document.querySelector('input[name="all_days_to_time"]');
        
        if (fromTimeInput.value && toTimeInput.value && fromTimeInput.value >= toTimeInput.value) {
            alert("To Time must be later than From Time.");
            toTimeInput.value = "";
        }
    }
    function validatemondayTime() {
        var fromTimeInput = document.querySelector('input[name="monday_from_time"]');
        var toTimeInput = document.querySelector('input[name="monday_to_time"]');
        
        if (fromTimeInput.value && toTimeInput.value && fromTimeInput.value >= toTimeInput.value) {
            alert("To Time must be later than From Time.");
            toTimeInput.value = "";
        }
    }
    function validatetuesdayTime() {
        var fromTimeInput = document.querySelector('input[name="tuesday_from_time"]');
        var toTimeInput = document.querySelector('input[name="tuesday_to_time"]');
        
        if (fromTimeInput.value && toTimeInput.value && fromTimeInput.value >= toTimeInput.value) {
            alert("To Time must be later than From Time.");
            toTimeInput.value = "";
        }
    }
    function validatewedTime() {
        var fromTimeInput = document.querySelector('input[name="wednesday_from_time"]');
        var toTimeInput = document.querySelector('input[name="wednesday_to_time"]');
        
        if (fromTimeInput.value && toTimeInput.value && fromTimeInput.value >= toTimeInput.value) {
            alert("To Time must be later than From Time.");
            toTimeInput.value = "";
        }
    }
    function validatethursTime() {
        var fromTimeInput = document.querySelector('input[name="thursday_from_time"]');
        var toTimeInput = document.querySelector('input[name="thursday_to_time"]');
        
        if (fromTimeInput.value && toTimeInput.value && fromTimeInput.value >= toTimeInput.value) {
            alert("To Time must be later than From Time.");
            toTimeInput.value = "";
        }
    }
    function validatefridayTime() {
        var fromTimeInput = document.querySelector('input[name="friday_from_time"]');
        var toTimeInput = document.querySelector('input[name="friday_to_time"]');
        
        if (fromTimeInput.value && toTimeInput.value && fromTimeInput.value >= toTimeInput.value) {
            alert("To Time must be later than From Time.");
            toTimeInput.value = "";
        }
    }
    function validatesaturTime() {
        var fromTimeInput = document.querySelector('input[name="saturday_from_time"]');
        var toTimeInput = document.querySelector('input[name="saturday_to_time"]');
        
        if (fromTimeInput.value && toTimeInput.value && fromTimeInput.value >= toTimeInput.value) {
            alert("To Time must be later than From Time.");
            toTimeInput.value = "";
        }
    }
    function validatesunTime() {
            var fromTimeInput = document.querySelector('input[name="sunday_from_time"]');
            var toTimeInput = document.querySelector('input[name="sunday_to_time"]');
            
            if (fromTimeInput.value && toTimeInput.value && fromTimeInput.value >= toTimeInput.value) {
                alert("To Time must be later than From Time.");
                toTimeInput.value = "";
            }
        }
    function displayFileName() {
        const fileInput = document.getElementById('fileInput');
        const fileNameDisplay = document.getElementById('fileName');

        if (fileInput.files.length > 0) {
            fileNameDisplay.textContent = fileInput.files[0].name;
        } else {
            fileNameDisplay.textContent = '';
        }
    }
    function displayImage() {
        const fileInput = document.getElementById('fileInput');
        const imagePreview = document.getElementById('imagePreview');

        if (fileInput.files.length > 0) {
            const file = fileInput.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {
                imagePreview.src = e.target.result;
            };

            reader.readAsDataURL(file);
        } else {
            imagePreview.src = '{% static "assets/img/icons/upload-icon.svg" %}';
        }
    }
</script>