{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 mx-auto">
        <div class="login-wrap">
          <div class="login-header">
            <h3>Password Recovery</h3>
            <p>Enter your email and we will send you a link to reset your password.</p>
          </div>

        <form method="post" action="{% url 'user:forgot_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary w-100 login-btn" type="submit">Submit</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>



{% endblock %}