{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 mx-auto">
                <div class="login-wrap">
                    {% if verification_token %}
                        <p>Email Verified Successfully.</p>
                    {% endif %}
                          <div class="login-header">
                        <h3>Login</h3>
                        <p>Please enter your details</p>
                    </div>

                  <form action="{% url 'user:user_signin' %}" method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                Please correct the errors below.
                            </div>
                        {% endif %}
                        <div class="log-form">
                             <div class="form-group">
                                <label for="id_email">Email</label>
                                {{ form.email }}
                                {% if form.errors.email %}
                                    <small class="text-danger">{{ form.errors.email }}</small>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label for="id_password" class="col-form-label">Password</label>
                                    </div>
                                    <div class="col-auto">
                                        <a class="forgot-link" href="http://127.0.0.1:8000/user/forgot-password">
                                            Forgot password?
                                        </a>
                                    </div>
                                </div>
                               <div class="form-group">

                                    <div class="password-wrapper">
                                        <input type="password" class="form-control" id="password-field" placeholder="*************" name="password">
                                        <span class="eye-icon" onclick="togglePasswordVisibility(this)">&#x1F441;</span>
                                    </div>
                                    {% if form.errors.password %}
                                        <small class="text-danger">{{ form.errors.password }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            
                        </div>
                        <button class="btn btn-primary w-100 login-btn" type="submit">Login</button>
                        <div class="login-or">
                            <span class="or-line"></span>
                            <span class="span-or">OR</span>
                        </div>
                        <p class="no-acc">Don't have an account ? <a href="http://127.0.0.1:8000/user/user_signup">Register</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>
{% endblock %}
