{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 mx-auto">
        <div class="login-wrap">
          <div class="login-header">
            <h3>Reset Password</h3>
              {% if alert %}
                <p>{{alert}}</p>
              {% endif %}
          </div>
          <form method="post" action="{% url 'user:reset_password' %}?token={{ token }}">
            {% csrf_token %}
            <div class="log-form">
              <div class="form-group">
                <input type="hidden" name="token" value="{{ request.GET.token }}">
                <label class="col-form-label">New Password</label>
                <div class="password-wrapper">
                  <input type="password" class="form-control" id="password-1" placeholder='*************' name="password1">
                  <span class="eye-icon" onclick="togglePassword1Visibility(this)">&#x1F441;</span>
                </div>
                {% if form.errors.password1 %}
                    <small class="text-danger">{{ form.errors.password1 }}</small>
                {% endif %}
              </div>
              <div class="form-group">
                <label class="col-form-label">Confirm Password</label>
                <div class="password-wrapper">
                  <input type="password" class="form-control" id="password-2" placeholder='*************' name="password2">
                  <span class="eye-icon" onclick="togglePassword2Visibility(this)">&#x1F441;</span>
                </div>
                {% if form.errors.password2 %}
                    <small class="text-danger">{{ form.errors.password2 }}</small>
                {% endif %}
              </div>
            </div>
            <button class="btn btn-primary w-100 login-btn" type="submit">Save Change</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>

{% endblock %}
