{% extends 'base.html' %}
{% load static %}
{% block body_block %}
	<div class="content">
	    <div class="container">
	        <div class="row">

	            <div class="col-md-6 col-lg-6 mx-auto">
	                <div class="login-wrap">
	                    <div class="login-header">
	                        <h3>Sign Up</h3>
	                    </div>
	                    <div class="row">

	                        <div class="col-md-6 d-flex">
	                            <div class="choose-signup flex-fill">
	                                <h6>Providers</h6>
	                                <div class="choose-img">
	                                    <img src="{% static 'assets/img/provider.png' %}" alt="image">
	                                </div>
	                                <a href= "http://127.0.0.1:8000/user/provider_signup"class="btn btn-secondary w-100">Sign
	                                    Up<i class="feather-arrow-right-circle ms-1"></i></a>
	                            </div>
	                        </div>
	                        <div class="col-md-6 d-flex">
	                            <div class="choose-signup flex-fill mb-0">
	                                <h6>Users</h6>
	                                <div class="choose-img">
	                                    <img src="{% static 'assets/img/user.png' %}" alt="image">
	                                </div>
	                                <a href="http://127.0.0.1:8000/user/user_signup" class="btn btn-secondary w-100">Sign
	                                    Up<i class="feather-arrow-right-circle ms-1"></i></a>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="mouse-cursor cursor-outer"></div>
	<div class="mouse-cursor cursor-inner"></div>

	
{% endblock %}