{% extends 'base.html' %}
{% load static %}
{% block body_block %}
        {% load custom_message %}
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 mx-auto">
                        <div class="login-wrap">
                            <div class="login-header">
                                <h3>Provider Signup</h3>
                            </div>

                           <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100 login-btn">Signup</button>
                    </form>
                    <div class="login-or">
                                    <span class="or-line"></span>
                                    <span class="span-or">Or, log in with your email</span>
                                </div>
                                
                                <p class="no-acc">Already have an account ? <a href="http://127.0.0.1:8000/user/user_signin"> Sign In</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        

{% endblock %}