{% extends 'base.html' %}
{% load static %}
{% block body_block %}
{% load custom_filters %}
<div class="row">
               {% include 'customer/customer-sidebar.html' %}     
                    <div class="col-lg-9">
                        <br>
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="widget-title">
                                    <h4>Booking List</h4>
                                </div>
                            </div>
                        </div>


                        {% for customer_booking in customer_bookings %}
                            
                            <div class="booking-list">
                                <div class="booking-widget">
                                    <div class="booking-img">
                                        <a href="{% url 'service:service_detail' customer_booking.service.id %}">
                                            {% if customer_booking.service.picture %}
                                                <img src="{{customer_booking.service.picture.url}}" alt="User Image">
                                            {% else %}
                                            <img src="{% static 'assets/img/services/service-04.jpg' %}"
                                                            alt="img">

                                            {% endif %}
                                        </a>

                                    </div>
                                    <div class="booking-det-info">
                                        <h3>
                                            <a
                                                href="{% url 'service:service_detail' customer_booking.service.id %}">{{customer_booking.service.title|capfirst}}
                                            </a>
                                            {% if customer_booking.status == 'completed' %}
                                                <span class="badge badge-success">{{customer_booking.status|capfirst}}</span>
                                            {% elif customer_booking.status == 'pending' %}
                                                <span class="badge badge-warning">{{customer_booking.status|capfirst}}</span>
                                            {% elif customer_booking.status == 'cancelledbyprovider' %}
                                                <span class="badge badge-danger">Cancelled by Provider</span>
                                            {% else %}
                                                <span class="badge badge-danger">Cancelled by User</span>
                                            {% endif %}
                                        </h3>
                                        <ul class="booking-details">
                                            <li>
                                                <span class="book-item">Booking Date</span> : {{customer_booking.appointment_time}}
                                            </li>
                                            <li>
                                                <span class="book-item">Amount</span> : ${{customer_booking.price}} <span
                                                    class="badge-grey">COD</span>
                                            </li>
                                            <li>
                                                <span class="book-item">Location</span> : {{customer_booking.address.add1}}
                                                {{customer_booking.address.add2}}, {{customer_booking.address.city}},
                                                {{customer_booking.address.provision}}, {{customer_booking.address.country}},
                                                {{customer_booking.address.postal_code}}
                                            </li>
                                            <li>
                                                <span class="book-item">Customer</span> :
                                                <div class="user-book">
                                                    <div class="avatar avatar-xs">
                                                        {% if customer_booking.user.avatar and customer_booking.user.avatar.url %}
                                                        <img class="avatar-img rounded-circle"
                                                            src="{{ customer_booking.user.avatar.url }}" alt="Avatar">
                                                        {% else %}
                                                        <img class="avatar-img rounded-circle"
                                                            src="{% static 'assets/img/profiles/avatar-02.jpg' %}"
                                                            alt="Default Avatar">
                                                        {% endif %}
                                                    </div>
                                                    {{customer_booking.user.first_name}}
                                                </div>
                                                <p>{{customer_booking.user.phone_number}}</p>
                                                </p>
                                                <p>{{customer_booking.user.email}}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {% if customer_booking.status == 'completed' %}
                                    {% if service_ratings|get_by_key:customer_booking.id %}
                                        {% for star in service_ratings|get_by_key:customer_booking.id %}
                                            <i class="fas fa-star filled" style="color: gold;"></i>
                                        {% endfor %}
                                    {% else %}
                                    <div class="booking-action action-popup-btn">
                                        <label for="modal-toggle" class="btn btn-primary"><i class="fa-solid fa-star"></i>Add
                                            Review</label>
                                    </div>
                                    <input type="checkbox" id="modal-toggle" class="modal-toggle">
                            <div class="modal-overlay">
                                <div class="modal">
                                    <label for="modal-toggle" class="close-btn">×</label>
                                    <div class="modal-content">
                                        <h2>Write A Review</h2>
                                       
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" id="customer_booking_id" name="customer_booking_id" value="{{ customer_booking.id }}">
                                            <div class="write-review">
                                                <div class="review-add">
                                                    <div class="rev-img">
                                                        {% if customer_booking.service.picture %}
                                                            <img src="{{customer_booking.service.picture.url}}" alt="image">
                                                        {% else %}
                                                           <img src="{% static 'assets/img/provider/provider-11.jpg' %}" alt="img">
                                                        {% endif %}
                                                    </div>
                                                    <div class="rev-info">
                                                        <h6>{{customer_booking.service.title|capfirst}}</h6>
                                                        <p>{{customer_booking.id}} {{customer_booking.address.add2}},
                                                            {{customer_booking.address.city}},
                                                            {{customer_booking.address.provision}},
                                                            {{customer_booking.address.country}},
                                                            {{customer_booking.address.postal_code}}</p>
                                                    </div>
                                                </div>
                                                <div class="emoji-rating">
                                                    <input type="radio" id="id_emoji_5" name="rating" value="5" style="display: none;">
                                                    <label for="id_emoji_5" title="5" data-tooltip="Highest"
                                                        style="color: #FFD700;">😊</label>
                                                    <input type="radio" id="id_emoji_4" name="rating" value="4" style="display: none;">
                                                    <label for="id_emoji_4" title="4" data-tooltip="Good"
                                                        style="color: #FFA500;">😐</label>
                                                    <input type="radio" id="id_emoji_3" name="rating" value="3" style="display: none;">
                                                    <label for="id_emoji_3" title="3" data-tooltip="Moderate"
                                                        style="color: #FF7F50;">😃</label>
                                                    <input type="radio" id="id_emoji_2" name="rating" value="2" style="display: none;">
                                                    <label for="id_emoji_2" title="2" data-tooltip="Limited"
                                                        style="color: #FF6347;">😄</label>
                                                    <input type="radio" id="id_emoji_1" name="rating" value="1" style="display: none;">
                                                    <label for="id_emoji_1" title="1" data-tooltip="Lowest"
                                                        style="color: #FF4500;">😠</label>
                                                </div>
                                                <div class="form-group form-info">
                                                    <label class="col-form-label">Write your Comment</label>
                                                    <textarea class="form-control" id="id_comment" name="comment" rows="4"
                                                        placeholder="Please write your review"></textarea>
                                                </div>
                                                <div class="modal-submit text-end">
                                                    <label for="modal-toggle" class="btn btn-primary">Close</label>
                                                    <button type="submit" class="btn btn-primary">Send</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}


                        

                    </div>
                </div>
{% endblock %}